<!DOCTYPE html>
<html ng-app= "exspenseApp">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div ng-controller = "fuelController">
      <h1><bold>{{message}}</bold></h1>
      Previous Odomiter in Miles :{{startingOdomiter}}
      <ul ng-repeat = "log in fuelLog">
        <li>odomiter:{{log.odomiter}},Gallons: {{log.gallons}},Cost:{{log.cost|currency}}</li>

      </ul>


      <form ng-submit = "logFuel()">

      <input type = "number" step ="any" ng-model = "currentOdomiter" placeholder="Current Odomiter"></input></br>
      <input type ="number"  step ="any" ng-model = "qtyGallons" placeholder="Gallons"></input></br>
      <input type ="number"   step ="any" ng-model = "fuelCost" placeholder="Fuel Cost"></input>
      <br/>
      <button type="submit">Submit</button>

    </form>


    </div>
  </body>
<div>
  <script  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
  <script   src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-resource.js"></script>
  <script src="/js/app.js"></script>
 <script src="/js/controllers/fuel-controller.js"></script>
</div>





</html>
