<!DOCTYPE html>
<html ng-app= "exspenseApp">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div ng-controller = "fuelController">
      <h1><bold>{{message}}</bold></h1>
      Begining Milage :{{prevOdomiter}}

      <form ng-submit = "calMilage()">

      <br/>
      <input type = "number" ng-model = "currentOdomiter" placeholder="Current Odomiter"></br>
      <input type ="number"  step ="3" ng-model = "qtyGallons" placeholder="Gallons"></br>
      <input type ="number"   step ="3" ng-model = "fuelCost" placeholder="Fuel Total">
      <br/>
      <button type="submit">Submit</button>

    </form>
current Odomiter:{{currentOdomiter}}<br/>Quanity in Gallons:{{qtyGallons}}<br/>Fuel Cost:{{fuelCost|currency}}

    </div>
  </body>
<div>
  <script  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
  <script   src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-resource.js"></script>
  <script src="/js/app.js"></script>
 <script src="/js/controllers/fuel-controller.js"></script>
</div>





</html>
